<div class="main-container">
  <mat-card class="card">
    <mat-card-content>
      <div class="heading">
        <h1>Upcoming Bills</h1>
        <p>By paying a bill below, the bank will be using the information to pay the chosen recipient directly.</p>
      </div>
      <div fxLayout="row">
        <div fxFlex="100%">
          <app-generic-table [columns]="columns" [dataSource]='upcomingDataSource' (infoActionHandler)='openDeleteDialog($event, true)'>
          </app-generic-table>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<div class="main-container">
  <mat-card class="card">
    <mat-card-content>
      <div class="heading">
        <h1>Past Bills</h1>
        <p>By paying a bill below, the bank will be using the information to pay the chosen recipient directly.</p>
      </div>
      <div fxLayout="row">
        <div fxFlex="100%">
          <app-generic-table [columns]="columns" [dataSource]='dataSource' (infoActionHandler)='openDeleteDialog($event, false)'>
          </app-generic-table>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>