<div class="main-container prefix">
 <mat-card class="card">
  <mat-card-content>
    <div class="heading">
      <h1>Transfer Money</h1>
      <p>You may transfer money between your own accounts or to another account electronically below.</p>
    </div>
    <div fxLayout="row" class="mt-30">
      <div fxFlex="100%" fxLayoutAlign="center center">
        <form [formGroup]="transferForm" fxFlex="50%" fxFlex.xs="100%" autocomplete="off">
          <div fxLayout="column" fxLayoutGap="10px">
              <mat-form-field appearance="outline">
                <mat-label>PAYMENT FREQUENCY</mat-label>
                <mat-select formControlName='frequency'>
                  <mat-option value="MONTHLY">MONTHLY</mat-option>
                  <mat-option value="SINGLE">SINGLE</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Transfer From</mat-label>
                <mat-select formControlName="fromAccount">
                  <mat-option value="select">PLEASE SELECT AN ACCOUNT</mat-option>
                  <mat-option value="checking" [disabled]='toAccount?.value === "checking"'>CHECKING ({{checkingBalance | currency}})</mat-option>
                  <mat-option value="saving" [disabled]='toAccount?.value === "saving"'>SAVING ({{savingBalance | currency}})</mat-option>
                </mat-select>
                <mat-error *ngIf="fromAccount?.invalid && fromAccount?.errors?.['required']">
                  Please select any account
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Transfer To</mat-label>
                <mat-select formControlName="toAccount">
                  <mat-option value="select">PLEASE SELECT AN ACCOUNT</mat-option>
                  <mat-option value="checking" [disabled]='fromAccount?.value === "checking"'>CHECKING ({{checkingBalance | currency}})</mat-option>
                  <mat-option value="saving" [disabled]='fromAccount?.value === "saving"'>SAVING ({{savingBalance | currency}})</mat-option>
                </mat-select>
                <mat-error *ngIf="toAccount?.invalid && toAccount?.errors?.['required']">
                  Please select any account
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Amount</mat-label>
                <input matInput placeholder="Write Amount" type="number" formControlName="amount">
                <span matPrefix class="amount">$</span>
                <mat-error *ngIf="amount?.invalid && amount?.errors?.['required']">
                  Please enter amount
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline"  style="cursor:pointer" (click)="picker.open()">
                <mat-label (click)="picker.open()">Payment Date</mat-label>
                <input (focus)="picker.open()" matInput readonly  [min]="minDate" [matDatepicker]="picker" formControlName='date' (dateChange)='selectDate()'>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

          </div>
          <div fxLayout="row" fxLayoutGap="15px" style="margin-top:30px">
              <button mat-raised-button class="button" [disabled]='transferForm.invalid' (click)='submit()'>Save</button>
              <button mat-raised-button class="button" routerLink='/'>Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </mat-card-content>
 </mat-card>
</div>
