@import "variables";

.main-container {
  margin: 35px 35px 35px 100px;

  .mt-30 {
    margin-top: 30px;
  }

  .table {
    margin-top: 15px;
  }

  .card {
    border-top: 10px solid $blue;
    padding: 40px;

    h1 {
      font-family: "Montserrat";
      font-weight: bold;
      color: $primary;
      font-size: 36px;
      margin: 10px 0;
    }

    p {
      font-family: 'Montserrat';
    }
  }
}

mat-form-field {
  width: 100%;
  font-family: "Montserrat" !important;
}

.mat-select-panel .mat-optgroup-label, .mat-select-panel .mat-option {
  font-family: "Montserrat";
}

.button {
  background-color: $orangered;
  color: $white;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: bold;

  &:hover {
    background-color: $button-hover;
  }
}

.amount {
  font-size: 18px;
  font-weight: 600;
  text-align: right;
  margin-right: 10px;
}

.mat-drawer-inner-container {
  overflow: hidden !important;
  overflow-y: auto !important;
}

a {
  cursor: pointer;
}

.table-container {
  width: 100%;

  .header {
    height: 36px !important;
  }

  th {
    color: $table-header-text;
    font-size: 18px;
  }

  tr:nth-child(even) {
    background-color: $table-row-even;
  }

  .table-link {
    cursor: pointer;
    color: $orangered;
    text-decoration: underline;
    font-family: 'Montserrat';
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
  }
}

.prefix {
  .mat-form-field-appearance-outline .mat-form-field-prefix,
  .mat-form-field-appearance-outline .mat-form-field-suffix {
    top: -0.2em !important;
  }
}

.choose-container {
  .mat-form-field-appearance-outline .mat-form-field-flex {
    background-color: $table-row-even;
  }
}

.toolbar {
  .mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: transparent;
  }

  .mat-form-field-appearance-outline .mat-form-field-prefix,
  .mat-form-field-appearance-outline .mat-form-field-suffix {
    top: 0;
  }

  .mat-form-field:not(.mat-form-field-appearance-legacy)
    .mat-form-field-prefix
    .mat-icon-button,
  .mat-form-field:not(.mat-form-field-appearance-legacy)
    .mat-form-field-suffix
    .mat-icon-button {
    height: 2em;
  }

  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0 !important;
    border-top: 0;
  }

  .mat-form-field-appearance-outline .mat-form-field-flex {
    background-color: $blue;
    color: $white;
    border-radius: 4px;
  }

  .mat-icon-button .mat-datepicker-toggle-default-icon,
  .mat-form-field:not(.mat-form-field-appearance-legacy)
    .mat-form-field-suffix
    .mat-icon-button
    .mat-datepicker-toggle-default-icon {
    color: $white;
  }
}

.mat-badge-medium.mat-badge-overlap.mat-badge-after .mat-badge-content {
  right: -17px;
}

.home-columns .mat-card-header-text {
  margin: 0 !important;
}

@media only screen and (max-width: 1250px) {
  .main-container {
    margin: 35px 10px;
  }
}

@media only screen and (max-width: 1173px) {
  h1 {
    font-size: 30px !important;
  }
}

@media only screen and (max-width: 800px) {
  .table {
    overflow: scroll;
  }
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 20px !important;
  }

  .custom-dialog.cdk-overlay-pane {
    width: 100% !important;
  }

  .card {
    padding: 40px 34px !important;
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.2;
}

.sidebar {
  .mat-list-item-content {
    padding-left: 20px !important;
  }
}
