$orangered: #f78219;;
$light-gray: rgb(122, 122, 122);
$content: #ededed;
$primary: #1f3b9b;
$white: rgb(255, 255, 255);
$box-shadow1: rgb(85, 84, 84);
$box-shadow2: 0px 3px 6px rgba(0, 0, 0, 0.16); ;
$box-shadow3: rgba(0, 0, 0, 0.16);
$box-shadow4: 3px 3px 6px rgba(0, 0, 0, 0.16);
$table-header: rgb(233, 233, 216);
$red: rgb(255, 0, 0);
$table-row-even: #f2f2f2;
$table-header-text: #2c2c2c;
$add-button: #f9f9f9;
$black: rgb(0, 0, 0);
$close-icon: rgb(211, 211, 211);
$card-title: #0b1541;
$blue: #275ce4;
$card: #E7F3FD;
$light-blue: #dfeefc;
$card-border: #707070;
$button-hover: #d57119;
