<mat-toolbar fxLayoutGap="20px" class="toolbar">
    <img class="title" src="assets/images/main_logo.svg" alt="" routerLink="/">
    <span class="spacer"></span>
  <div *ngIf='isUserLoggedIn'>
    <form [formGroup]='headerForm'>
      <mat-form-field *ngIf="isTestMode" appearance="outline" style="cursor:pointer; margin-right: 10px" (click)="picker1.open()">
        <input matInput (focus)="picker1.open()" readonly [max]='maxDate' [matDatepicker]="picker1" formControlName='startDate' (dateChange)='selectStartDate()' fxHide.sm fxHide.xs>
        <mat-datepicker-toggle matPrefix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker id="date-picker-header" #picker1></mat-datepicker>
        <mat-icon matSuffix (click)="picker1.open()">keyboard_arrow_down</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline" style="cursor:pointer" (click)="picker.open()">
        <input matInput (focus)="picker.open()" readonly [min]="todayDate" [max]='maxDate' [matDatepicker]="picker" formControlName='date' (dateChange)='selectDate()' fxHide.sm fxHide.xs>
        <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker id="date-picker-header" #picker></mat-datepicker>
        <mat-icon matSuffix (click)="picker.open()">keyboard_arrow_down</mat-icon>
      </mat-form-field>
    </form>
  </div>
  <div *ngIf='isUserLoggedIn'>
  <mat-icon class="icon" matBadge="{{notificationCount}}" matBadgeColor="warn" matBadgePosition="after" routerLink='notifications'>notifications</mat-icon>
  </div>
  <div *ngIf='isUserLoggedIn'>
    <button class='button' mat-button [matMenuTriggerFor]="menu">
      <img class="profile-icon" src="assets/images/account.svg" alt="">
      <span fxHide.lt-sm>Account</span>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink='manage-profile'>Profile</button>
      <!--<button mat-menu-item (click)="testMode()">Test Mode</button>-->
      <button mat-menu-item (click)='logout()'>Logout</button>
    </mat-menu>
  </div>
</mat-toolbar>
