@import "variables";

.toolbar {
  box-shadow: $box-shadow2;
  position: relative;
  z-index: 10;
  background-color: $white;

  img {
    cursor: pointer;
  }

  .icon {
    font-size: 40px;
    margin: 15px 15px 0 0;
    cursor: pointer;
  }

  .title {
    width: 300px;
    margin-left: 40px;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .profile-icon {
    width: 18px;
    margin: 5px;
  }

  mat-form-field {
    margin-top: 30px;
    width: 215px;
    cursor: pointer;
    border: none;

    input {
      margin-bottom: 6px;
      font-family: 'Montserrat';
    }
  }
}

@media only screen and (max-width: 960px) {
  .title {
    margin-left: 0 !important;
  }

  mat-form-field {
    width: 92px !important;
  }
}

@media only screen and (max-width: 550px) {
 .title {
  width: 160px !important;
 }
}
