<div class="main-container">
 <mat-card  class="card">
  <mat-card-content>
    <div fxLayout="row" fxLayout.xs="column">
      <div fxFlex="50%">
        <h2>Account Activity</h2>
      </div>
      <div fxFlex="50%" fxLayoutAlign="end center">
        <a (click)='openDialog()'>
          View Account/Routing Numbers
        </a>
      </div>
    </div>
    <div class="table">
      <div fxLayout="row">
        <div fxFlex="100%">
          <app-choose-account (clickHandler)="clickHandler($event)" [account]='type' [isSearch]="true"></app-choose-account>
        </div>
      </div>
      <div class="table">
        <app-generic-table [columns]="columns" [dataSource]="dataSource" [pageSize]="10" (infoActionHandler)='openDeleteDialog($event)'>
        </app-generic-table>
      </div>
    </div>
  </mat-card-content>
 </mat-card>
</div>
