@import "variables";

.generic-container {
  th {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 16px;
    text-align: left;
    color: $card-title;
  }

  td {
    font-family: 'Montserrat';
    font-weight: normal;
    font-size: 16px;
    color: $card-title;
  }

  mat-icon {
    cursor: pointer;
  }

  mat-paginator {
    font-family: 'Montserrat';
  }
}
.flex {
  display: flex;
  align-items: center;
}
