<div class="main-container" fxLayout="column">
  <mat-card class="card">
    <mat-card-content>
      <div fxLayout="row">
        <div fxFlex="100%">
          <p class="description">The calendar in the top right allows you to change the date in the simulator. Use it to view your activity, notifications, and monthly statements at different points in time during your online banking year!</p>
        </div>
      </div>
      <div fxLayout="row wrap" fxLayoutGap="10px" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="start start">

        <div fxFlex="calc(50% - 10px)" class="home-columns">
          <mat-card class="home-cards">
            <mat-card-header>
              <mat-card-title>Checking Account Activity</mat-card-title>
            </mat-card-header>
            <mat-card-content fxLayout="column">
              <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
                <div fxFlex="50%" fxLayout="column" fxLayoutGap="10px">
                  <div class="balance">{{checkingBalance | currency}}</div>
                  <div class="balance-text">AVAILABLE BALANCE</div>
                </div>
                <div fxFlex="50%" fxLayoutAlign="end start">
                  <button mat-stroked-button class="view-account" color="primary"
                          (click)='navigateToAccount("checking")'>VIEW ACCOUNT
                  </button>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>

        <div fxFlex="calc(50% - 10px)" class="home-columns">
          <mat-card class="home-cards">
            <mat-card-header>
              <mat-card-title>Saving Account Activity</mat-card-title>
            </mat-card-header>
            <mat-card-content fxLayout="column">
              <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
                <div fxFlex="50%" fxLayout="column" fxLayoutGap="10px">
                  <div class="balance">{{savingBalance | currency}}</div>
                  <div class="balance-text">AVAILABLE BALANCE</div>
                </div>
                <div fxFlex="50%" fxLayoutAlign="end start">
                  <button mat-stroked-button class="view-account" color="primary" (click)='navigateToAccount("saving")'>
                    VIEW ACCOUNT
                  </button>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>

        <div fxFlex="49%" class="home-columns">
          <mat-card class="home-cards">
            <mat-card-header>
              <mat-card-title style="margin-bottom:-5px">Upcoming Transfers</mat-card-title>
            </mat-card-header>
            <mat-card-content fxLayout="column">
              <div fxLayout="row" fxLayout.xs="column" fxLayoutGap.xs="10px">
                <div fxFlex="50%" class="buttons" fxLayoutGap="10px" style="display:none;">
                  <button [ngClass]='{"active": accountType === "1"}' mat-button (click)="accountType = '1'">CHECKING</button>
                  <button [ngClass]='{"active": accountType === "2"}' mat-button (click)="accountType = '2'">SAVINGS</button>
                </div>
                <div style="display:none !important;">
                  <button mat-stroked-button class="view-account" color="primary"
                          routerLink="transfer/display-transfers">VIEW ACCOUNT!
                  </button>
                </div>
              </div>
              <div fxLayout='row' fxLayoutAlign='space-between'>
                <mat-list fxFlex='100%' role="list" *ngIf="allCheckingTransfers?.upcoming?.length" class="list">
                  <mat-list-item *ngFor="let item of allCheckingTransfers?.upcoming?.slice(0,3)" role="listitem">
                    <div class="list-item balance-text">
                      {{item?.description}} | {{item?.amount | currency}} | {{item?.date | date: 'MM/dd/yyyy'}}
                    </div>
                  </mat-list-item>
                </mat-list>
                <div class="upcoming" *ngIf="!allCheckingTransfers?.upcoming?.length">
                  None
                </div>
              </div>
              <div style="margin-top:20px; text-align:right;">
                <button mat-stroked-button  color="primary" class="view-account" style="width:auto"
                        routerLink="transfer/display-transfers">VIEW TRANSFERS
                </button>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        <div fxFlex="49%" class="home-columns">
          <mat-card class="home-cards">
            <mat-card-header>
              <mat-card-title style="margin-bottom:-5px">Upcoming Bills</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div fxLayout='row' fxLayoutAlign='space-between'>
                <mat-list fxFlex='100%' role="list" *ngIf="allBills?.upcoming?.length" class="list">
                  <mat-list-item *ngFor="let item of allBills?.upcoming?.slice(0,3)" role="listitem">
                    <div class="list-item balance-text">
                      {{item?.description}} | {{item?.amount | currency}} | {{item?.date | date: 'MM/dd/yyyy'}}
                    </div>
                  </mat-list-item>
                </mat-list>
                <div class="upcoming" *ngIf="!allBills?.upcoming?.length">
                  None
                </div>
              </div>
              <div style="margin-top:20px; text-align:right;">
                <button mat-stroked-button  color="primary" class="view-account" style="width:auto"
                        routerLink="pay-bill/display-bills">VIEW BILLS
                </button>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
