<div class="main-container">
 <mat-card class="card">
  <mat-card-content>
    <div class="heading">
      <h1>Monthly Statement</h1>
      <p>Account statements are available on the 3rd day after the end of the month.</p>
    </div>
    <div class="content">
      <div fxLayout="row">
       <div fxFlex="100%">
        <app-choose-account (clickHandler)="clickHandler($event)" [isSearch]="true"></app-choose-account>
       </div>
      </div>
      <div fxLayout="row" class="mt-30">
        <div fxFlex="100%" *ngIf="dataSource && dataSource.length > 0">
          <app-generic-table [columns]="columns" [dataSource]="dataSource" [pageSize]="10"
            (actionHandler)="actionHandler($event)">
          </app-generic-table>
        </div>
        <div fxFlex="100%" *ngIf="!(dataSource && dataSource.length > 0)">
          <h2>No statements have been generated yet! Feel free to check back next month.</h2>
        </div>
      </div>
    </div>
  </mat-card-content>
 </mat-card>
</div>
