@import "variables";

.mat-list-item {
  &:hover {
    background-color: $table-row-even;
  }
}

.white {
  padding: 0 15px;
  font-family: 'Montserrat';
}

mat-icon {
  font-size: 28px;
}

img {
  width: 24px;
  height: 24px;
}

.active {
  background-color: $table-row-even;
}
