<div class="main-container">
 <mat-card class="card">
  <mat-card-content>
     <div class="heading">
    <h1>Manage User Profile</h1>
    <h3 style="margin-top:40px;">PERSONAL INFO</h3>
  </div>
  <div fxLayout="column">
    <form [formGroup]="profileForm">
      <div fxLayout="row wrap" class="disabled" fxLayout.xs="column" fxLayoutGap="10px">
        <div fxFlex="calc(50% - 10px)">
          <mat-form-field appearance="outline">
            <mat-label>User Name</mat-label>
            <input matInput placeholder="Name" formControlName="userName" readonly>
          </mat-form-field>
        </div>
        <div fxFlex="calc(50% - 10px)">
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="*********" formControlName="password" readonly>
          </mat-form-field>
        </div>
        <div fxFlex="calc(50% - 10px)">
          <mat-form-field appearance="outline">
            <mat-label>Full Name</mat-label>
            <input matInput placeholder="First and Last Name" formControlName="fullName" readonly>
          </mat-form-field>
        </div>
        <div fxFlex="calc(50% - 10px)">
          <mat-form-field appearance="outline">
            <mat-label>Address</mat-label>
            <input matInput placeholder="address" formControlName="address" readonly>
          </mat-form-field>
        </div>
        <div fxFlex="calc(50% - 10px)">
          <mat-form-field appearance="outline">
            <mat-label>City</mat-label>
            <input matInput placeholder="city" formControlName="city" readonly>
          </mat-form-field>
        </div>
        <div fxFlex="calc(50% - 10px)">
          <mat-form-field appearance="outline">
            <mat-label>State</mat-label>
            <input matInput placeholder="state" formControlName="state" readonly>
          </mat-form-field>
        </div>
        <div fxFlex="49%">
          <mat-form-field appearance="outline">
            <mat-label>Zip</mat-label>
            <input matInput placeholder="zip code" formControlName="zipCode" readonly>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row wrap" class="disabled" fxLayout.xs="column" fxLayoutGap="10px">
        <div fxFlex="100%">
          <h3>SECURITY QUESTIONS</h3>
        </div>
        <div fxFlex="calc(50% - 10px)">
          <mat-form-field appearance="outline">
            <mat-label>Question 1</mat-label>
            <mat-select formControlName="question1" readonly>
              <mat-option value="select">Please select</mat-option>
              <mat-option value="1">What was the childhood nick name?</mat-option>
              <mat-option value="2">What is name of your favorite Childhood friend?</mat-option>
              <mat-option value="3">In what city or town did your mothe and father meet?</mat-option>
              <mat-option value="4">What is your favorite team?</mat-option>
              <mat-option value="5">What was the name of the hospital where you were born?</mat-option>
              <mat-option value="6">What was the favorite food as a child?</mat-option>
              <mat-option value="7">What is your favorite movie?</mat-option>
              <mat-option value="8">Who is your childhood sports hero?</mat-option>
              <mat-option value="9">What school did you attend for sixth grade?</mat-option>
              <mat-option value="10">In what town was your first job?</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="calc(50% - 10px)">
          <mat-form-field appearance="outline">
            <mat-label>Answer 1</mat-label>
            <input matInput placeholder="answer 1" formControlName="answer1" readonly>
          </mat-form-field>
        </div>
        <div fxFlex="49%" fxFlex.sm="48%">
          <mat-form-field appearance="outline">
            <mat-label>Question 2</mat-label>
            <mat-select formControlName="question2" readonly>
              <mat-option value="select">Please select</mat-option>
              <mat-option value="1">What was the childhood nick name?</mat-option>
              <mat-option value="2">What is name of your favorite Childhood friend?</mat-option>
              <mat-option value="3">In what city or town did your mothe and father meet?</mat-option>
              <mat-option value="4">What is your favorite team?</mat-option>
              <mat-option value="5">What was the name of the hospital where you were born?</mat-option>
              <mat-option value="6">What was the favorite food as a child?</mat-option>
              <mat-option value="7">What is your favorite movie?</mat-option>
              <mat-option value="8">Who is your childhood sports hero?</mat-option>
              <mat-option value="9">What school did you attend for sixth grade?</mat-option>
              <mat-option value="10">In what town was your first job?</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="49%" fxFlex.sm="48%">
          <mat-form-field appearance="outline">
            <mat-label>Answer 2</mat-label>
            <input matInput placeholder="answer 2" formControlName="answer2" readonly>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="column">
          <h3>ALERTS</h3>
          <!-- <mat-checkbox #chkEnable> -->
            <div class="check">Notify me if my checking or saving account balance falls below:</div>
          <!-- </mat-checkbox> -->
          <mat-form-field appearance="outline" class="w-49">
            <input type="number" formControlName='lowerLimit' matInput placeholder="Enter...">
            <mat-icon matPrefix>attach_money</mat-icon>
          </mat-form-field>
          <!-- <mat-checkbox #chkEnable3> -->
            <div class="check">Notify me if a checking or saving account transaction is greater than:</div>
          <!-- </mat-checkbox> -->
          <mat-form-field appearance="outline" class="w-49">
            <input type="number" matInput formControlName='upperLimit' placeholder="Enter...">
            <mat-icon matPrefix>attach_money</mat-icon>

          </mat-form-field>
        </div>
      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end center">
        <button mat-raised-button class="button" [disabled]='profileForm.invalid' (click)='save()'>Save</button>
        <button mat-raised-button class="button" routerLink="/">Cancel</button>
      </div>
    </form>
  </div>
  </mat-card-content>
 </mat-card>
</div>
