@import "variables";

.mat-input-element:disabled {
  cursor: not-allowed;
}

.button {
  margin-bottom: 20px;
}

.disabled {
  opacity: 0.5;
}

.check {
  white-space: initial;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-family: "Montserrat";
}

h3 {
  color: $primary;
  font-weight: 600;
  font-family: "Montserrat";
}

.w-49 {
  width: 49%;
}
