//Bootstrap
@use '@angular/material' as mat;
@use './styles/layout' as *;

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

/* Bootstrap grid only */
@import 'bootstrap/dist/css/bootstrap-grid.min.css';

html, body { 
  height: 100%; 
  margin: 0; 
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

// Router link active styles
.router-link-active {
  background-color: #e3f2fd !important;
  color: #1976d2 !important;
}

.mat-mdc-card-header {
  margin-bottom: 10px;
}

