<div class="main-container">
 <mat-card class="card">
  <mat-card-content>
    <div class="heading">
      <h1>Online Services</h1>
    </div>
    <div fxLayout="column" class="mt-25">
      <h3>Travel notices</h3>
      <p>Tell us when & where you are traveling to protect your accounts!</p>
      <h3>Get a new card</h3>
      <p>Lost Your Card? Get a new one sent in the mail.</p>
      <h3> Lock or Unlock Your Card</h3>
      <p>If you suspect fraud or will not be using your card you can lock and unlock it here.</p>
      <h3>Rewards</h3>
      <p>View and use your rewards here.</p>
    </div>
  </mat-card-content>
 </mat-card>
</div>